<!doctype html>
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<html>
  <head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <!-- build:css(.) styles/vendor.css -->
      <!-- bower:css -->
      <link rel="stylesheet" href="bower_components/angular-material.css">
      <link rel="stylesheet" href="bower_components/angular-toastr.css">
      <link rel="stylesheet" href="bower_components/animate.css">
      <link rel="stylesheet" href="bower_components/materialize.css">
      <link rel="stylesheet" href="bower_components/ngDialog-theme-default.css">
      <link rel="stylesheet" href="bower_components/ngDialog.css">
      <link rel="stylesheet" href="bower_components/ngProgress.css">
      <!-- endinject -->
      <!-- inject:css -->
      <link rel="stylesheet" href="css/materialize.css">
      <link rel="stylesheet" href="css/style.css">
      <!-- endinject -->

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>
  <body ng-app="yapp" ng-class="dark ?'dark-background':'default'">

    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <!--<div class="loader" ng-if="loader"><div class="loader-content">Загрузка...</div></div>-->
    <div ui-view id="ohsnap" ></div>
    <!-- build:js scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery.js"></script>
    <script src="bower_components/angular.js"></script>
    <script src="bower_components/angular-animate.js"></script>
    <script src="bower_components/angular-aria.js"></script>
    <script src="bower_components/angular-breadcrumb.js"></script>
    <script src="bower_components/angular-material.js"></script>
    <script src="bower_components/angular-materialize.js"></script>
    <script src="bower_components/angular-messages.js"></script>
    <script src="bower_components/angular-resource.js"></script>
    <script src="bower_components/angular-sanitize.js"></script>
    <script src="bower_components/angular-toastr.tpls.js"></script>
    <script src="bower_components/angular-ui-router.js"></script>
    <script src="bower_components/angular-websocket.min.js"></script>
    <script src="bower_components/materialize.js"></script>
    <script src="bower_components/moment.js"></script>
    <script src="bower_components/ng-websocket.js"></script>
    <script src="bower_components/ngDialog.js"></script>
    <script src="bower_components/ngprogress.min.js"></script>
    <script src="bower_components/ohsnap.js"></script>
    <script src="bower_components/underscore.js"></script>
    <!-- endinject -->
    <!-- lib:js -->
    <script src="lib/angular-locale_ru-ru.js"></script>
    <script src="lib/angular-materialize.js"></script>
    <script src="lib/detect.js"></script>
    <script src="lib/FileSaver.js"></script>
    <script src="lib/platform.js"></script>
    <!-- endinject -->
    <!-- inject:js -->
    <script src="scripts/lib/angular-locale_ru-ru.js"></script>
    <script src="scripts/lib/angular-materialize.js"></script>
    <script src="scripts/lib/detect.js"></script>
    <script src="scripts/lib/FileSaver.js"></script>
    <script src="scripts/lib/platform.js"></script>
    <script src="scripts/scripts/app.js"></script>
    <script src="scripts/scripts/controllers/createcategory.js"></script>
    <script src="scripts/scripts/controllers/createsoft.js"></script>
    <script src="scripts/scripts/controllers/dashboard.js"></script>
    <script src="scripts/scripts/controllers/deletesoft.js"></script>
    <script src="scripts/scripts/controllers/downloadsoft.js"></script>
    <script src="scripts/scripts/controllers/login.js"></script>
    <script src="scripts/scripts/controllers/register.js"></script>
    <script src="scripts/scripts/controllers/showcategories.js"></script>
    <script src="scripts/scripts/controllers/showsofts.js"></script>
    <script src="scripts/scripts/controllers/users.js"></script>
    <script src="scripts/scripts/directives/fileDownload.js"></script>
    <script src="scripts/scripts/services/check_auth.js"></script>
    <script src="scripts/scripts/services/notificationFactory.js"></script>
    <script src="scripts/scripts/services/state_loader.js"></script>
    <script src="scripts/scripts/services/websocketsfactory.js"></script>
    <!-- endinject -->
    <!-- endbuild -->
  </body>
</html>
<!--
<script>
  $( document ).ready(function() {
    $("*").contents().filter(function(){ return this.nodeType == 8;}).remove();
  });

</script>-->