<div class="modal-content">
    <h4>Успех!</h4>
    <p>Софт {{namesoft}} добавлен. <br>
        Давайте же скорее загрузим ваше великолепное ПО!</p>
    <div class="row">
        <div  input-field  style="margin: 2px ">
            <input type="text" name="name_version" placeholder="Номер версии" ng-model="soft.name_version" length="10">
        </div>
        <div input-field class="">
            <textarea class="materialize-textarea"  placeholder="Описание" name="description" ng-model="soft.desc" length="150"></textarea>
        </div>
    </div>
</div>
<div class="modal-footer">
    <div class="col s6 right">
        <button type="button" class="modal-action modal-close waves-effect waves-light btn" ng-click="createUpdate()">Приступить к загрузке файлов</button>
    </div>
</div>