<div class="row card">
    <!--AngularJS SPA CRUD table-->
    <table class="user-table highlight bordered centered " width="120%" ng-hide="loading">
        <!-- Header-->
        <thead >
            <!-- Content columns-->
            <th class="center-align" data-field="category.name">Название</th>
            <th class="center-align" data-field="category.description">Описание</th>
            <th class="center-align" >Действие</th>
        </thead>
        <tbody>
        <tr ng-repeat="category in categories">
            <td class="center-align">
                <div ng-if="category.editMode == null || category.editMode == false">
                    {{category.name}}
                </div>
                <div ng-if="category.editMode" >
                    <input type="text" ng-model="category.name">
                </div>
            </td>
            <td>
                <div ng-if="category.editMode == null || category.editMode == false">
                    {{category.description}}
                </div>
                <div ng-if="category.editMode" >
                    <input type="text" ng-model="category.description">
                </div>
            </td>
            <td>
                <md-button ng-if="category.editMode == null || category.editMode == false" ng-click="toggleEditMode(category)">
                    <md-icon md-svg-src="images/icons/ic_create_black_24px.svg"></md-icon>
                </md-button>
                <md-button style="min-width:40%;padding: 0;margin: 2px" ng-if="category.editMode" ng-click="updateCategory(category,$event)">
                    <md-icon md-svg-src="images/icons/ic_check_black_24px.svg"></md-icon>
                </md-button>
                <md-button style="min-width:50%;padding: 0;margin: 2px"   ng-if="category.editMode" ng-click="category.editMode=!category.editMode">
                    <md-icon  md-svg-src="images/icons/ic_close_24px.svg"></md-icon>
                </md-button>
            </td>
        </tr>
        </tbody>

    </table>
    <!--Loading indicator-->
    <img src="../images/loading.gif" ng-show="loading" class="center-block" title="Loading..." />

</div>

