<div id="content" class="containeradmin card">
    <div class="card-title" style="margin-left: 15px">
        <h3>{{["Добавление","Изменение"][+!modeCreate]}} продукта</h3>
    </div>
    <form name="saveForm" class="form-horizontal" style="padding: 10px">
        <fieldset style="padding: 20px">
            <!--
            <div class="control-group" ng-class="{error: saveForm.category.$invalid}">
                <label class="control-label" for="category">Категория</label>
                <div class="controls">
                    <select name="category" ng-model="item.category" required
                        ng-options="key as value for (key, value) in categories"></select>
                </div>
            </div>-->
            <div  ng-class="{error: saveForm.title.$invalid}" style="margin-bottom: 20px">
                Название
                <md-divider></md-divider>
                <div input-field>
                    <input type="text" size="49" ng-model="soft.name" length="255" placeholder="Введите название софта" required>
                </div>
            </div>
            <div  ng-class="{error: saveForm.title.$invalid}" style="margin-bottom: 20px" class="row">
                <div class="col s6">
                    Категория
                    <md-divider></md-divider>
                </div>
                <div class="col s6">
                    Картинка
                    <md-divider></md-divider>
                </div>
                <select ng-model="soft.category" class="col s6"  material-select
                        ng-options="item.name for item in categories track by item.id">
                </select>
                <div class="file-field input-field col s6">
                    <div class="btn">
                        <span>Обзор</span>
                        <input type="file">
                    </div>
                    <div class="file-path-wrapper">
                        <input class="file-path validate" type="text">
                    </div>
                </div>
            </div>

            <div class="control-group" ng-class="{error: saveForm.text.$invalid}">
               Описание
                <md-divider></md-divider>
                <div input-field>
                    <textarea id="text" placeholder="Введите описание" ng-model="soft.description" class="materialize-textarea" cols="80" rows="7" length="2048"></textarea>
                </div>
            </div>
            <div class="form-actions">
                <input type="button" ng-if="modeCreate" ng-disabled="saveForm.$invalid||saveForm.$pristine" modal href="#demoModal" ng-click="saveSoft();CreateSoftCtrl(saveForm)" class="btn btn-success" value="Сохранить">
                <input type="button" ng-if="!modeCreate" ng-disabled="saveForm.$invalid"  ng-click="saveEdit()" class="btn btn-success" value="Сохранить изменения">
                <a ui-sref="softs" class="btn red lighten-2">Отмена</a>
            </div>
        </fieldset>
    </form>
    <div id="demoModal" class="modal" >
        <div class="modal-content">
            <h4>Успех!</h4>
            <p>Софт {{namesoft}} добавлен. <br>
                Давайте же скорее загрузим ваше великолепное ПО!</p>
            <div class="row">
                <div  input-field  style="margin: 2px ">
                    <input type="text" name="name_version" placeholder="Номер версии" ng-model="soft.name_version" length="10">
                </div>
                <div input-field class="">
                    <textarea class="materialize-textarea"  placeholder="Описание" name="description" ng-model="soft.desc" length="150"></textarea>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <div class="col s6 right">
            <button type="button" class="modal-action modal-close waves-effect waves-light btn" ng-click="createUpdate()">Приступить к загрузке файлов</button>
            </div>
        </div>
    </div>
</div>



