<div id="content" class="containeradmin card">
    <div class="card-title">
        <h3>Регистрация пользователя</h3>
    </div>
    <div class="row card-content">
        <form class="col s12" name="regForm">
            <div class="row">
                <div class="input-field col s6" ng-class="{error: regForm.email.$invalid}" >
                    <input id="first_name" name="email" ng-model="email" type="text" class="validate" length="255" required>
                    <label for="first_name">Email</label>
                    {{warning}}
                </div>
            </div>
            <div class="row">
                <div class="input-field col s6" ng-class="{error: regForm.password.$invalid}" >
                    <input id="password" name="password" type="password" ng-model="password" class="validate" length="255" required>
                    <label for="password">Password</label>
                </div>
            </div>
            <div class="card-action">
                <button class="btn waves-effect waves-light"  ng-click="reg()" ng-class="{disabled:regForm.$invalid||regForm.$pristine}">Зарегистрировать
                    <i class="material-icons right">send</i>
                </button>
            </div>
        </form>
    </div>
</div>
