<div id="content" class="containeradmin card">
    <md-whiteframe class="md-whiteframe-14dp" flex-sm="110" flex-gt-sm="75" flex-gt-md="100" layout layout-align="center center">
        <div style="padding: 10px;min-width: 300px;">
            <div class="card-title">
                <h4 ng-model="name">Загрузка обновления для <em>{{name}}</em> </h4>
            </div>
            <md-divider></md-divider>
            <div class="col s12">
                <form name="saveForm">
                    <div class="col s4">
                        Версия программы:
                            {{version}}
                    </div>
                    <div class="col s4">
                        Выберите платформу:
                        <select ng-model="request.platform" class=""  material-select watch ng-change="setDefaultArch()"
                                ng-options="platform.platform for platform in platforms track by platform.key">
                        </select>
                    </div>
                    <div class="col s4">
                        Выберите версию:
                        <select class="" ng-model="request.arch" material-select ng-options="arch.title for arch in request.platform.arches track by arch.id">
                        </select>
                    </div>
                    <div class="row col s12">
                        <div class="col s7">
                            <div class="file-field input-field">
                                <div class="btn small file-upload">
                                    <span>Выберите файл</span>
                                    <input type="file" file-model="myFile">
                                </div>
                                <div class="file-path-wrapper">
                                    <input class="file-path validate" type="text">
                                </div>
                            </div>
                        </div>
                        <div class="col s4 right">
                            <span >Выберите дату:</span>
                        </div>
                            <md-datepicker class="col s5 right" ng-model="myDate" md-placeholder="Выберите дату"></md-datepicker>
                        </div>
                </form>
            </div>
            <div class="left">
                <input type="button" ng-disabled="saveForm.$invalid||saveForm.$pristine" ng-click="uploadFile()" class="btn" value="Сохранить">
                <a href="" class="btn">Отмена</a>
            </div>
        </div>
    </md-whiteframe>

</div>



