<div id="content" class="containeradmin card">
    <div class="card-title" style="margin-left: 15px">
        <h3>{{["Добавление","Изменение"][+!modeCreate]}} категории</h3>
    </div>
    <form name="saveForm" class="form-horizontal" style="padding: 10px">
        <fieldset style="padding: 20px">
            <!--
            <div class="control-group" ng-class="{error: saveForm.category.$invalid}">
                <label class="control-label" for="category">Категория</label>
                <div class="controls">
                    <select name="category" ng-model="item.category" required
                        ng-options="key as value for (key, value) in categories"></select>
                </div>
            </div>-->
            <div  ng-class="{error: saveForm.title.$invalid}" style="margin-bottom: 20px">
                Название
                <md-divider></md-divider>
                <div input-field>
                    <input type="text" size="49" ng-model="category.name" length="255" placeholder="Введите название категории" required>
                </div>
            </div>
            <div class="control-group" ng-class="{error: saveForm.text.$invalid}">
                Описание
                <md-divider></md-divider>
                <div input-field>
                    <textarea id="text" placeholder="Введите описание" ng-model="category.description" class="materialize-textarea" cols="80" rows="7" length="2048"></textarea>
                </div>
            </div>
            <div class="form-actions">
                <input type="button" ng-if="modeCreate" ng-disabled="saveForm.$invalid||saveForm.$pristine" ng-click="saveCategory()" class="btn btn-success" value="Сохранить">
                <input type="button" ng-if="!modeCreate" ng-disabled="saveForm.$invalid"  ng-click="saveEdit()" class="btn btn-success" value="Сохранить изменения">
                <a ui-sref="softs" class="btn red lighten-2">Отмена</a>
            </div>
        </fieldset>
    </form>
</div>