<div class="row page" >
    <div class="card col s12 m12">
        <span class="card-title">Популярные загрузки:</span>
        <div class="card-content">
                <div class="card col s12 m5 popular" ng-repeat="item in mainupdates">
                    <div>
                        <ul >
                            <li>
                                <div style="padding-left: 12px">
                                    <a href="javascript:;" ng-click="getfile()" > {{item.filename}}</a>
                                </div>
                                    <div class="row" style="margin: auto;">
                                        <div class="col s4" style="margin-top: 7px;">
                                            Платформа:
                                        </div>
                                        <div class="chip col s6" >
                                            {{item.platform}}
                                        </div>
                                    </div>
                                    <div style="padding-left: 12px">
                                        Размер: {{item.size}}
                                    </div>
                            </li>
                        </ul>
                    </div>
            </div>
            <div class="clearfix"></div>
        </div>
        <md-button class="md-raised md-primary col s12" ng-click="showOtherVersions=!showOtherVersions">Показать предыдущие версии</md-button>

    </div>
</div>
<md-card ng-if="showOtherVersions">
    <md-card-content>
        <div>
            Версия :
        </div>
        <table>
            <thead>
            <tr>
                <th data-field="id">Файл</th>
                <th data-field="name">Платформа</th>
                <th data-field="price">Разрядность</th>
                <th data-field="price">Размер</th>
                <th data-field="price"></th>
            </tr>
            </thead>

            <tbody>
            <tr>
                <td>Alvin</td>
                <td>Eclair</td>
                <td>$0.87</td>
                <td>444MB</td>
                <td><a href="" ng-click="getfile()" class="col s3" style="margin-top: 5px;">Скачать</a></td>
            </tr>
            <tr>
                <td>Alan</td>
                <td>Jellybean</td>
                <td>$3.76</td>
                <td>444MB</td>
                <td><a href="" ng-click="getfile()" class="col s3" style="margin-top: 5px;">Скачать</a></td>
            </tr>
            <tr>
                <td>Jonathan</td>
                <td>Lollipop</td>
                <td>$7.00</td>
                <td>444MB</td>
                <td><a href="" ng-click="getfile()" class="col s3" style="margin-top: 5px;">Скачать</a></td>
            </tr>
            </tbody>
        </table>
    </md-card-content>
</md-card>