<div class="card medium">
    <div class="card-image waves-effect waves-block waves-light row"  >
        <div class="" style="z-index: 1;position: relative">
            <img class="activator responsive-img" src="images/parallax2.jpg">
        </div>
    </div>
    <div style="z-index: 9999;margin-top:-130px;margin-left:42%;position: relative;">
            <div class="center-align" id="my-button">
                <input type="file" name="myfile" id="file-button" >
                <img  class="circle  responsive-img" style="border: 5px solid white" src="images/x_7e18c0d0.jpg">
            </div>
    </div>
    <div class="card-content">
        <div class="center-align" style="margin-top: -20px; font-weight: bold; font-size: 25px">
           Helper
        </div>
    </div>
</div>