<div class="content" ng-if="softlistnotempty">
    <div class="row product" ng-repeat="item in softlist">
        <div class="col s12 m12">
            <div class="card medium">
                <div class="card-image waves-effect waves-block waves-light">
                    <a ui-sref="softs.detail({id:item.id})">
                        <img class="activator" src="images/parallax2.jpg">
                    </a>
                </div>
                <div class="card-content">
                    <p style="font-size: 20px">{{item.name}}</p>
                    <p style="font-size: 14px">{{item.cat.name}}</p>
                    <p>{{item.description}}</p>

                </div>
                <div class="card-action">
                    <i class="material-icons  lime accent-1" style="vertical-align: middle; margin-left: 10px" ng-repeat="item in getNumber(item.count_likes) track by $index">grade</i>
                    <a ui-sref="softs.editsoft({id:item.id})" class="right">Редактировать</a>
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="pagination-wrap">
        <ul class="pagination" dots="....">
            <li class="waves-effect" ng-repeat="page in paginationList" ng-click="showPage(page.link)" ng-class="{'active': currentPageNum() == page.link}"><a ng-bind-html="page.name"></a></li>
        </ul>
    </div>
</div>
<div class="content" ng-if="!softlistnotempty">
    <h1>Здесь может быть очень полезный софт :)</h1>
</div>


