<div class="row card hoverable">
    <!--AngularJS SPA CRUD table-->
    <table class="user-table highlight bordered centered " width="120%" ng-hide="loading">
        <!-- Header-->
        <thead >
            <!-- Content columns-->
            <th class="center-align" data-field="user.id">Id</th>
            <th class="center-align" data-field="user.email">Email</th>
            <th class="center-align" data-field="user.role_id">Роль</th>
            <th class="center-align" data-field="user.created_at">Дата регистрации</th>
            <th class="center-align" data-field="user.name">Имя</th>
            <th class="center-align" data-field="softlist" colspan="2">Действие</th>
        </thead>
        <tbody>
        <tr ng-repeat="user in users">
            <td>{{user.id}}</td>
            <td>
                <div ng-if="user.editMode == null || user.editMode == false">
                {{user.email}}
                </div>
                <div ng-if="user.editMode" >
                    <input type="text" ng-model="user.email">
                </div>
            </td>
            <td>
                <div ng-if="user.editRole == null || user.editRole == false">
                    {{user.role.name}}
                </div>
                <div ng-if="user.editRole" >
                    <select material-select ng-options="role.name for role in data.availableOptions track by role.id"
                            ng-model="data.selectedOption" ng-change="changeSelect(user)">
                    </select>
                </div>
            </td>
            <td>{{user.created_at| date}}</td>
            <td>
                <div ng-if="user.editMode == null || user.editMode == false">
                    {{user.name}}
                </div>
                <div ng-if="user.editMode" >
                    <input type="text" ng-model="user.name">
                </div>
            </td>
            <td>
                            <md-button class="col s2" ng-if="user.editMode == null || user.editMode == false" ng-click="toggleEditMode(user)">
                                <md-icon md-svg-src="images/icons/ic_create_black_24px.svg"></md-icon>
                            </md-button>
                            <md-button style="min-width:40%;padding: 0;margin: 2px" ng-if="user.editMode" ng-click="updateUser(user,$event)">
                                <md-icon md-svg-src="images/icons/ic_check_black_24px.svg"></md-icon>
                            </md-button>
                            <md-button style="min-width:50%;padding: 0;margin: 2px"   ng-if="user.editMode" ng-click="user.editMode=!user.editMode">
                                <md-icon  md-svg-src="images/icons/ic_close_24px.svg"></md-icon>
                            </md-button>
            </td>
            <td>
                            <md-button class="col s12" ng-if="user.editRole == null || user.editRole == false" ng-click="toggleEditRole(user)">Редактировать полномочия</md-button>
                            <md-button class="col s5" ng-if="user.editRole" ng-click="saveEditRole(user)">Сохранить</md-button>
                            <md-button class="col s5" ng-if="user.editRole" ng-click="user.editRole=!user.editRole">Отмена</md-button>
            </td>
        </tr>
        </tbody>
    </table>
    <!--Loading indicator-->
    <img src="../images/loading.gif" ng-show="loading" class="center-block" title="Loading..." />

</div>

