<md-dialog aria-label="Предупреждение"  ng-cloak>
    <form>
        <md-toolbar>
            <div class="md-toolbar-tools  red lighten-1">
                <h2>Предупреждение</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon md-svg-src="images/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <div class="md-dialog-content">
                <h3>Вы изменили свой email! <br>
                    Для вступления измений в силу необходимо переавторизоваться!</h3>

            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <span flex></span>
            <md-button ui-sref="login" ng-click="answer('not useful')">
                Переавторизоваться
            </md-button>
            <md-button ui-sref="users" ng-click="answer('useful')" style="margin-right:20px;">
                Остаться здесь
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>