<!doctype html>
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<html>
  <head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <!-- build:css(.) styles/vendor.css -->
      <!-- bower:css -->
      <!-- endinject -->
      <!-- inject:css -->
      <!-- endinject -->

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>
  <body ng-app="yapp" ng-class="dark ?'dark-background':'default'">

    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <!--<div class="loader" ng-if="loader"><div class="loader-content">Загрузка...</div></div>-->
    <div ui-view id="ohsnap" ></div>
    <!-- build:js scripts/vendor.js -->
    <!-- bower:js -->
    <!-- endinject -->
    <!-- lib:js -->
    <!-- endinject -->
    <!-- inject:js -->
    <!-- endinject -->
    <!-- endbuild -->
  </body>
</html>
<!--
<script>
  $( document ).ready(function() {
    $("*").contents().filter(function(){ return this.nodeType == 8;}).remove();
  });

</script>-->