        <div class="containeruser card">
            <ul class="collection">
                <li ng-repeat="item in softlist" class="collection-item avatar">
                    <a ui-sref="softlist.detail({id:item.id})">{{item.name}} </a>
                    <i class="material-icons right  lime accent-1" style="vertical-align: middle; margin-left: 10px" ng-repeat="item in  getNumber(item.count_likes)  track by $index">grade</i>
                    <i class="material-icons circle green">insert_chart</i>
                    <p class='test_clip'>{{item.description}}</p>
                </li>
            </ul>
        </div>
        <div class="pagination-wrap">
            <ul class="pagination">
                <li  class="waves-effect" ng-repeat="page in paginationList" ng-click="showPage(page.link)" ng-class="{'active': currentPageNum() == page.link}"><a ng-bind-html="page.name"></a></li>
            </ul>
        </div>



