<div ng-class="dark ?'dark-background':'default'" class=" dark dark-full ">
    <div class="navbar-fixed" >
        <header>
            <nav class="top-nav" >
                <div class="hide-gt-xs col s1 menu-fab  "  >
                    <div class="hide-gt-xs col s1 menu-fab  " >
                        <a href="javascript:void(0);"  style="background-color: #ee6e73;top: 2px; margin-left: 30px" data-activates="nav-mobile"
                           class="button-collapse full hide-on-large-only" data-sidenav="left" data-menuwidth="500"><i class="material-icons">menu</i></a>
                    </div>
                </div>
                <a href="#" class="brand-logo col s3 hide-xs" >Система обновлений</a>
                <div class="profile col s4">
                    <div class="row link dropdown-button" data-activates='demoDropdown' dropdown data-hover="false" >
                        <div class="avatar-pic col s4 center-align ">
                            <img class="circle col s12 responsive-img" src="../images/x_7e18c0d0.jpg">
                            <i class="material-icons hide-gt-sm" style="margin: -5px 15px">more_vert</i>
                        </div>
                        <a class="name hide-on-med-and-down hide-md" >{{email}}</a>
                        <i class="material-icons col s1 hide-on-med-and-down">more_vert</i>
                    </div>
                    <div id='demoDropdown'>
                        <ul class="collection">
                            <a ui-sref="adminprofile" class="collection-item">Профиль</a>
                            <a ui-sref="login" class="collection-item">Выйти</a>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
    </div>
    <div class="row">
        <div class="col s12 m3 l2 "  > <!-- Note that "m4 l3" was added -->
            <ul id="nav-mobile" class="side-nav fixed full hide-on-med-and-up">
                <li class="bold"><a href="about.html" class="waves-effect waves-teal" ui-sref="overview" >Статистика</a></li>
                <li class="no-padding">
                    <ul class="collapsible collapsible-accordion" data-collapsible="accordion">
                        <li class="bold"><a class="collapsible-header  waves-effect waves-teal" href="javascript:;" > Продукты </a>
                            <div class="collapsible-body">
                                <ul class="collection">
                                    <li><a ui-sref="users">Список</a></li>
                                    <li><a ui-sref="users.create">Добавить</a></li>
                                </ul>
                            </div>
                        </li>
                        <li class="bold" ng-if="editUsers"><a class="collapsible-header active waves-effect waves-teal" href="javascript:;" >Пользователи</a>
                            <div class="collapsible-body">
                                <ul class="collection">
                                    <li><a ui-sref="users">Список</a></li>
                                    <li><a ui-sref="users.create">Добавить</a></li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>
            <div class="navbar-collapse row hide-xs"  >
                <ul class="collapsible collapsible-accordion  hoverable vertical-menu  {{active}}" ng-class="hidenav ?'hide-nav':'show'" data-collapsible="accordion">
                    <li>
                        <a ui-sref="overview" class="bold collapsible-header waves-effect waves-teal statistics" ng-click="active='statistics'">Статистика</a>
                    </li>
                    <li>
                        <div class="collapsible-header waves-effect waves-teal bold">
                            <a href="javascript:;" > Продукты </a>
                        </div>
                        <div class="collapsible-body">
                            <ul class="collection {{active}}">
                                <li class="collection-item all_soft">
                                    <a  class="all_soft" ng-click="active='all_soft'" ui-sref="softs">Список</a>
                                </li>
                                <li class="collection-item add_soft">
                                    <a ui-sref="softs.create" class="add_soft" ng-click="active='add_soft'">Добавить</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li ng-if="editUsers">
                        <div class="collapsible-header waves-effect waves-teal bold"><a href="javascript:;" >Пользователи</a></div>
                        <div class="collapsible-body">
                            <ul class="collection {{active}}">
                                <li class="collection-item all_users">
                                    <a  class="all_users" ui-sref="users" ng-click="active='all_users'">Список</a></li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <div class="collapsible-header waves-effect waves-teal bold"><a href="javascript:;" >Категории</a></div>
                        <div class="collapsible-body">
                            <ul class="collection {{active}}">
                                <li class="collection-item all_categories"><a ui-sref="categories" class="all_categories" ng-click="active='all_categories'" >Список</a></li>
                                <li class="collection-item add_category"><a ui-sref="categories.create" class="add_category" ng-click="active='add_category'">Добавить</a></li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="card legend hoverable hide-on-med-and-down" ng-if="showLegend">
                <div class="row legend-header">
                    <span class="card-title">Легенда:</span>
                    <md-button class="md-icon-button right md-ink-riple" ng-click="cancel()">
                        <md-icon md-svg-src="images/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
                    </md-button>
                    <md-divider></md-divider>
                </div>
                <div class="card-content">
                </div>

            </div>
        </div>

        <div class="col s12 m8 l8"> <!-- Note that "m8 l9" was added -->
            <div  ui-view></div>
        </div>

    </div>

</div>
