<strong>
        Отсутствие активности длительное время, пожалуйста авторизуйтесь заново!
</strong>
<br>
<input type="button" class="btn btn-danger" ui-sref="login" ng-click="closeThisDialog(0)" value="ОК">

