<!--
Inspired by http://dribbble.com/shots/917819-iPad-Calendar-Login?list=shots&sort=views&timeframe=ever&offset=461
-->
<div class="content-page">
    <form class="form-signin ajax" name="authForm" method="post" novalidate="novalidate">
        <h2 class="form-signin-heading">Вход в систему</h2>
        <div class="alert-danger" ng-if="state!=null" ng-bind-html="state" >
            <strong class="red lighten-4">{{state}}</strong></div>
        <div class="form-group" ng-class="{error: authForm.email.$invalid}">
            <input name="email" type="email" class="form-control" placeholder="E-mail" ng-model="email" required autofocus>
        </div>
        <div class="form-group" ng-class="{error: authForm.password.$invalid}">
            <input name="password" type="password" class="form-control" placeholder="Пароль" ng-model="password" required>
        </div>
        <button class="btn btn-block btn-primary" ng-disabled="authForm.$invalid||authForm.$pristine" ng-click="login()">Войти</button>
        <div class="alert-info" style="margin-top:15px;">
            <p>Я здесь впервые <a href="#/register">Зарегистрироваться.</a>
        </div>
    </form>
</div>

