<div ng-class="dark ?'dark-background':'default'">
    <div class="navbar-fixed"  >
        <header>
            <nav class="top-nav" style="background-color: #00b0ff" >
                <div class="hide-gt-xs col s1 menu-fab  "  >
                    <div class="hide-gt-xs col s1 menu-fab  " >
                        <a href="javascript:void(0);"  style="background-color: transparent;top: 2px; margin-left: 30px" data-activates="nav-mobile"
                           class="button-collapse full hide-on-large-only" data-sidenav="left" data-menuwidth="500"><i class="material-icons">menu</i></a>
                    </div>
                </div>
                <a href="#" class="brand-logo col s3 hide-xs" >Система обновлений</a>
                <div class="profile col s4">
                    <div class="row link dropdown-button" data-activates='demoDropdown' dropdown data-hover="false" >
                        <div class="avatar-pic col s4 center-align ">
                            <img class="circle col s12 responsive-img" src="../images/x_7e18c0d0.jpg">
                            <i class="material-icons hide-gt-sm" style="margin: -5px 15px">more_vert</i>
                        </div>
                        <a class="name hide-on-med-and-down " >{{email}}</a>
                        <i class="material-icons col s1 hide-on-med-and-down">more_vert</i>
                    </div>
                    <div id='demoDropdown'>
                        <ul class="collection">
                            <a href="" class="collection-item">Профиль</a>
                            <a href="" class="collection-item">Сообщения</a>
                            <a ui-sref="login" class="collection-item">Выйти</a>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
    </div>
    <div class="row">
        <div> <!-- Note that "m8 l9" was added -->
            <div class="input-field col s3">
                <i class="material-icons prefix">account_circle</i>
                <input id="input_text"  ng-model="search.email" type="text" length="10">
                <label for="input_text">Email пользователя</label>
            </div>
            <div class="input-field col s3">
                <i class="material-icons prefix">account_circle</i>
                <input id="inputtext"  ng-model="search.name" type="text" length="10">
                <label for="inputtext">Имя пользователя</label>
            </div>
        </div>
        <br>
        <table class="user-table highlight bordered centered  col s6 card " style="margin-left: 15px" id="searchTextResults">
            <thead><th>Email</th><th>Имя</th><th>Дата регистрации</th></thead>
            <tr ng-repeat="user in users | filter:search:strict" style="cursor: pointer" ng-click="choiceUser(user)">
                <td>{{user.email}}</td>
                <td>{{[user.name,"---"][+!user.name]}}</td>
                <td>{{user.created_at| date}}</td>
            </tr>
        </table>
        <div class="col  s7 m7 responsive-user card" style="margin-left: 15px" ng-show="!userNotSelected">
            <div id='soft_in_list' ng-model="user">
                <div class="row card-content">
                    Email: {{user.email}}
                    <br>
                    Ник: {{[user.name,"Пользователь без ника"][+!user.name]}}
                    <br>
                    <div ng-if="user.created_soft">
                        Список загруженных на сервер продуктов:
                        <div ng-repeat="soft in user.created_soft">
                            {{soft.name}}
                        </div>
                    </div>
                    <div>
                        <button class="btn col s5 m5" style="margin-right: 10px" ng-click='showSoftList(user);'>Открыть список ПО</button>
                        <button class="btn col s5 m6" ng-click='showKeys=!showKeys;getKeys(user);'>Открыть список выданных ключей</button>
                    </div>
                </div>
            </div>
        </div>
        <div ng-show="showKeys" style="margin-left: 15px; " class="card col s11">
            Список ключей к ПО для пользователя {{user.email}}
            <table class="user-table highlight bordered centered  col s10 " style="margin-left: 15px" >
                <thead><th>Программа</th><th>Ключ</th><th></th></thead>
                <tr ng-repeat="key in keylist" style="cursor: pointer">
                    <td>{{key.soft.name}}</td>
                    <td>{{key.key}}</td>
                    <td>{{soft.provider.email}}</td>
                    <td><button class="btn"> Удалить ключ</button></td>
                </tr>
            </table>
        </div>
        <div class="preloader-wrapper small " ng-class="{active: preload}">
            <div class="spinner-layer spinner-green-only">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div><div class="gap-patch">
                <div class="circle"></div>
            </div><div class="circle-clipper right">
                <div class="circle"></div>
            </div>
            </div>
        </div>
        <div  ng-show="showSoft" class="col s12" style="margin-left: 15px">
            <div>
                <div class="input-field col s5">
                    <input id="text"  ng-model="poisk.name" type="text" length="10">
                    <label for="text">Название</label>
                </div>
                <div class="input-field col s3">
                    <input id="input-text"  ng-model="poisk.category" type="text" length="10">
                    <label for="input-text">Категория</label>
                </div>
                <div class="input-field col s3">
                    <input id="input-prov"  ng-model="poisk.provider.name" type="text" length="10">
                    <label for="input-prov">Разработчик</label>
                </div>
            </div>
            <table class="user-table highlight bordered centered  col s10 card " style="margin-left: 15px" >
                <thead><th>Название</th><th>Категория</th><th>Разработчик</th><th></th></thead>
                <tr ng-repeat="soft in softlist | filter:poisk:strict" style="cursor: pointer">
                    <td>{{soft.name}}</td>
                    <td>{{["","Без категории"][+!soft.category]}}</td>
                    <td>{{soft.provider.email}}</td>
                    <td><button class="btn" ng-click="getKey(user,soft)"> Сгенерировать ключ для {{user.email}}</button></td>
                </tr>
            </table>
        </div>
    </div>

</div>
