<div>
    <!--Header-->
    <div class="modal-header">
        <h3 class="modal-title">{{title}}</h3>
    </div>
    <!--Body-->
    <div class="modal-body">
        <p>{{body}}</p>
    </div>
    <!--OK and Cancel buttons-->
    <div class="modal-footer">
        <button class="btn btn-success" ng-click="confirm()" style="width: 100px;">
            <i class="glyphicon glyphicon-ok"></i>
            ДА
        </button>
        <button class="btn btn-danger" ng-click="cancel()" style="width: 100px;">
            <i class="glyphicon glyphicon-remove"></i>
            ОТМЕНА
        </button>
    </div>
</div>