<form class="form-signin ajax" name="registerForm" method="post" novalidate="novalidate">
    <div class="main-error alert alert-error hide"></div>

    <h2 class="form-signin-heading">Регистрация</h2>
    <div class="form-group" ng-class="{error: registerForm.email.$invalid}">
        <input name="email" type="email" class="form-control" placeholder="E-mail" ng-model="email" required autofocus>
    </div>
    <div class="form-group" ng-class="{error: registerForm.password.$invalid}">
        <input name="password" type="password" class="form-control" placeholder="Пароль" ng-model="password" required>
    </div>
    <button class="btn btn-primary" ng-disabled="registerForm.$invalid||registerForm.$pristine" ng-click="reg()">Зарегистрироваться</button>
    <div id="warning" ng-model="warning" class="alert alert-info" ng-show="authForm.$invalid||warning=='Такой пользователь уже существует!'" style="margin-top:15px;  color: red; background-color: #d2d0d2">
  {{warning}}
    </div>
    <div class="" style="margin-top:15px;">
        <p>У меня уже есть логин <a href="#/login">Войти</a>
    </div>
</form>