<div ng-class="dark ?'dark-background':'default'">
    <div class="navbar-fixed"  >
        <header>
            <nav class="top-nav" style="background-color: #00b0ff" >
                <div class="hide-gt-xs col s1 menu-fab  "  >
                    <div class="hide-gt-xs col s1 menu-fab  " >
                        <a href="javascript:void(0);"  style="background-color: transparent;top: 2px; margin-left: 30px" data-activates="nav-mobile"
                           class="button-collapse full hide-on-large-only" data-sidenav="left" data-menuwidth="500"><i class="material-icons">menu</i></a>
                    </div>
                </div>
                <a href="#" class="brand-logo col s3 hide-xs" >Система обновлений</a>
                <div class="profile col s4">
                    <div class="row link dropdown-button" data-activates='demoDropdown' dropdown data-hover="false" >
                        <div class="avatar-pic col s4 center-align ">
                            <img class="circle col s12 responsive-img" src="../images/x_7e18c0d0.jpg">
                            <i class="material-icons hide-gt-sm" style="margin: -5px 15px">more_vert</i>
                        </div>
                        <a class="name hide-on-med-and-down " >{{email}}</a>
                        <i class="material-icons col s1 hide-on-med-and-down">more_vert</i>
                    </div>
                    <div id='demoDropdown'>
                        <ul class="collection">
                            <a href="" class="collection-item">Профиль</a>
                            <a href="" class="collection-item">Сообщения</a>
                            <a ui-sref="login" class="collection-item">Выйти</a>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
    </div>
    <div class="row">
        <div class="col s12 m3 l2 "  > <!-- Note that "m4 l3" was added -->
            <ul id="nav-mobile" class="side-nav fixed full hide-on-med-and-up">
                <li class="bold"><a href="about.html" class="waves-effect waves-teal" ui-sref="overview" >Статистика</a></li>
                <li class="no-padding">
                    <ul class="collapsible collapsible-accordion" data-collapsible="accordion">
                        <li class="bold"><a class="collapsible-header  waves-effect waves-teal" href="javascript:;" > Продукты </a>
                            <div class="collapsible-body">
                                <ul class="collection">
                                    <li><a ui-sref="softlist">Все приложения</a></li>
                                    <li><a ui-sref="mysoftlist({id:user.id})">Мои приложения</a></li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>
            <div class="navbar-collapse row hide-xs "  >
                <ul class="full-left  hoverable vertical-menu collapsible collapsible-accordion {{active}}" ng-click="$event.preventDefault()" data-collapsible="accordion" ng-class="hidenav ?'hide-nav':'show'">
                    <li>
                        <a class="collapsible-header waves-effect waves-teal statistics bold" ng-click="active='statistics'">Статистика</a>
                    <li>
                           <a class="collapsible-header  waves-effect waves-teal bold" href="javascript:;" > Продукты </a>
                           <div class="collapsible-body">
                             <ul class="collection {{active}}">
                                 <li class="collection-item all_soft">
                                     <a ui-sref="softlist" class="all_soft" ng-click="active='all_soft'">Все приложения</a>
                                 </li>
                                 <li class="collection-item my_soft">
                                     <a ui-sref="mysoftlist({id:user.id})" class="my_soft" ng-click="active='my_soft'">Мои приложения</a>
                                 </li>
                             </ul>
                           </div>
                    </li>
                </ul>
            </div>
        </div>

        <div class="col s12 m8 l8"> <!-- Note that "m8 l9" was added -->
            <div  ui-view ></div>
        </div>
    </div>

</div>
